*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
    color:#000;
}

body{
    user-select: none;
    word-break: keep-all;
}

wrap{
    overflow: hidden;
    min-width: 1190px;
}


/* header */

header{
    width:1180px;
    margin: 0 auto;
}

header .logo_main{
    margin-top: 60px;
    text-align: center;
}

header .nav_bar{
    width:700px;
    margin:30px auto;
}

header .nav_list{
    display:flex;
}

header .nav_list_item{
    flex:1;
    width: 140px;
}

header .nav_list_item:not(:first-child){
    padding-left: 120px;
}

header .nav_list_item :hover{
    cursor : pointer;
}

header .search_bar{
    position: relative;
    width:630px;
    height: 44px;
    background: #F7F7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 54px;
    margin: 0 auto;
}

header .search_bar input{
    position:absolute;
    left:20px;
    top:7px;
    height:30px;
    width: 550px;
    background-color: #F7F7F7;
    border:none;
}

header .search_bar input:focus {
    outline: none;
}

header .search_bar .search{
    position:absolute;
    right:20px;
    top:9.5px;
    width:25px;
    height:25px;
}

header .topic{
    margin : 30px 0;
    text-align: center;
}

/* contanter */

/* footer */

footer{
    width:1080px;
    height:240px;
    margin:0 auto;
    display:flex;
}

footer .info{
    flex : 1;
    padding-top: 120px;
}

footer .info_item{
    float:left;
    margin-right: 20px;
}

footer .more{
    display:flex;
    flex:1;
    padding-top: 120px;
    margin-left: 100px;
}

footer .more_item{
    flex:1
}

footer .SNS{
    flex:1;
}

footer .SNS li{
    float:left;
    margin-right:20px;
}