.main{
    width: 1180px;
    height: 2000px;
    margin-left: auto;
    margin-right: auto;
}

.main_header{
    height:180px;
    width: 100%;
    min-width: 1180px;
    position: relative;
    background-color: skyblue
}

.main_header .main_header_box{
    padding:45px 0 0;
    margin:auto;
    text-align: center;
    width:200px;
    height:100px;
}

.device_icon{
    height:120px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    background-color: aqua;
}

.device_image{
    height:360px;
    width:580px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F5F5;
}

.device_steps{
    height: 180px;
    width: 420px;
    margin-top:60px;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
}

.explanation{
    width: 780px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.device_images{
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    height: 510px;
    width: 980px;
}

.left_arrow{
    width: 80px;
    height: 100px;
    margin-top:205px;
    background-color: red;
    float: left;
}

.right_arrow{
    width: 80px;
    height: 100px;
    margin-top:205px;
    background-color: red;
    float: left;
}

.device_icons{
    float:left;
    width: 580px;
    height: 510px;
    margin-left: 120px;
    margin-right: 120px;
    background-color: #F5F5F5;
}

.device_icon_1{
    height:150px;
    width: 140px;
    float:left;
    margin-bottom: 30px;
    background-color: blue;
}

.device_icon_2{
    height:150px;
    width: 140px;
    float:left;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 30px;
    background-color: blue;
}

.device_icon_3{
    height:150px;
    width: 140px;
    float:left;
    margin-bottom: 30px;
    background-color: blue;
}

.device_icon_4{
    height:150px;
    width: 140px;
    float:left;
    margin-bottom: 30px;
    background-color: blue;
}

.device_icon_5{
    height:150px;
    width: 140px;
    float:left;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 30px;
    background-color: blue;
}

.device_icon_6{
    height:150px;
    width: 140px;
    float:left;
    margin-bottom: 30px;
    background-color: blue;
}

.device_icon_7{
    height:150px;
    width: 140px;
    float:left;
    background-color: blue;
}

.device_icon_8{
    height:150px;
    width: 140px;
    float:left;
    margin-left: 80px;
    margin-right: 80px;
    background-color: blue;
}

.device_icon_9{
    height:150px;
    width: 140px;
    float:left;
    background-color: blue;
}
