.main{
    width: 1000px;
    height: 2000px;
    margin-left: auto;
    margin-right: auto;
}

.main_header{
    height:160px;
    width: 100%;
    position: relative;
    background-color: skyblue
}

.main_header .main_header_box{
    padding:50px 0 0;
    margin:auto;
    text-align: center;
    width:200px;
    height:100px;
}

.explanation{
    width: 730px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.device_images_background{
    height:500px;
    width:1000px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F1F1F1
}

.device_images{
    margin-left: auto;
    margin-right: auto;
    padding-top: 75px;
    height: 350px;
    width: 700px;
}

.left_arrow{
    width: 50px;
    height: 100px;
    margin-top:125px;
    background-color: red;
    float: left;
}

.right_arrow{
    width: 50px;
    height: 100px;
    margin-top:125px;
    background-color: red;
    float: left;
}

.device_icons{
    float:left;
    width: 500px;
    height: 350px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: chartreuse;
}

.device_icon_1{
    height:100px;
    width: 100px;
    float:left;
    margin-bottom: 25px;
    background-color: blue;
}

.device_icon_2{
    height:100px;
    width: 100px;
    float:left;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 25px;
    background-color: blue;
}

.device_icon_3{
    height:100px;
    width: 100px;
    float:left;
    margin-bottom: 25px;
    background-color: blue;
}

.device_icon_4{
    height:100px;
    width: 100px;
    float:left;
    margin-bottom: 25px;
    background-color: blue;
}

.device_icon_5{
    height:100px;
    width: 100px;
    float:left;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 25px;
    background-color: blue;
}

.device_icon_6{
    height:100px;
    width: 100px;
    float:left;
    margin-bottom: 25px;
    background-color: blue;
}

.device_icon_7{
    height:100px;
    width: 100px;
    float:left;
    background-color: blue;
}

.device_icon_8{
    height:100px;
    width: 100px;
    float:left;
    margin-left: 100px;
    margin-right:100px;
    background-color: blue;
}

.device_icon_9{
    height:100px;
    width: 100px;
    float:left;
    background-color: blue;
}
