.main{
    width: 1180px;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
}

.main_header{
    width :1180px;
    min-width: 1180px;
    height:179px;
    background-color: #1A2330;
    margin-left: auto;
    margin-right: auto;
}

.main_header .main_header_box_title{
    padding-top:45px;
    margin:0 auto;
    text-align: center;
    width:167px;
}

.main_header_box_context{
    margin:5px auto 0;
    text-align: center;
    width:400px;
}

.explanation{
    width: 780px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}

.device_images_background{
    height:630px;
    width:100%;
    /* margin-top: 120px; */
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F5F5;
}

.device_images{
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    height: 510px;
    width: 980px;
    background-color: #F5F5F5;
}

.left_arrow{
    width: 50px;
    height: 100px;
    margin-top:205px;
    /* background-color: red; */
    float: left;
}

.right_arrow{
    width: 50px;
    height: 100px;
    margin-top:205px;
    /* background-color: red; */
    float: left;
}

.device_icon_circle{
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #F5F5F5;
}

.device_icon_circle_image{
    width: 70px;
    height: 70px;
    padding-top:13px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: #F5F5F5;
}

.device_name{
    margin-left: auto;
    margin-right: auto;
    margin-top:2px;
    text-align: center;
}

.device_icons{
    float:left;
    width: 580px;
    height: 510px;
    margin-left: 120px;
    margin-right: 120px;
    background-color: #F5F5F5;
}

.device_icon_1{
    height:150px;
    width: 140px;
    float:left;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 5px;
}

.device_icon_2{
    height:150px;
    width: 140px;
    float:left;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 5px;
}

.device_icon_3{
    height:150px;
    width: 140px;
    float:left;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 5px;
}

.device_icon_4{
    height:150px;
    width: 140px;
    float:left;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 5px;
}

.device_icon_5{
    height:150px;
    width: 140px;
    float:left;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 30px;
    background-color:white;
    border-radius: 5px;
}

.device_icon_6{
    height:150px;
    width: 140px;
    float:left;
    margin-bottom: 30px;
    background-color:white;
    border-radius: 5px;
}

.device_icon_7{
    height:150px;
    width: 140px;
    float:left;
    background-color: white;
    border-radius: 5px;
}

.device_icon_8{
    height:150px;
    width: 140px;
    float:left;
    margin-left: 80px;
    margin-right: 80px;
    background-color:white;
    border-radius: 5px;
}

.device_icon_9{
    height:150px;
    width: 140px;
    float:left;
    background-color: white;
    border-radius: 5px;
}
