.main{
    width: 1180px;
    min-width: 1180px;
    margin: 0 auto;
}

.main_header{
    width: 100%;
    height: 679px;
    position: relative;
    background-color: #1A2330;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.40);
}

.main_header .main_header_box_title{
    padding-top:45px;
    margin:0 auto;
    text-align: center;
}

.main_header_box_context{
    margin:20px auto 0;
    text-align: center;
}

.contents{
    margin-top:75px;
    width:1180px;
	overflow:hidden;
}

.main_header_contents{
    margin-left:280px;
    height:auto;
    width: 420px;
    float: left;
}

.main_header_content{
    height: 50px;
}

.main_header_sub_contents{
    height:auto;
    width: 300px;
    float: left;
    margin-top:20px;
}

.main_header_sub_content{
    height: 34px;
}

.contexts{
    margin-top: 120px;
    padding: 0 100px;
}

.tab1{
	margin-left: 70px;
}

.tab2{
	margin-left: 140px;

}
.head1_bullet{
	margin-bottom:4px;
	margin-right: 8px;
}

.head1{
	font-weight: 700;
	font-size: 29px;
	line-height: 29px;
	margin-bottom: 30px;
}

.head2{
	font-weight: 500;
	font-size: 23px;
	line-height: 33px;
	margin-bottom: 30px;
	margin-top: 60px;
}

.head3{
	font-weight: 400;
	font-size: 21px;
	line-height: 21px;
	margin-top: 30px;
	margin-bottom: 15px;
}

.subhead{
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	color: #8B8B8B;
	padding-left: 20px;
}

.main_text{
	font-weight: 300;
	font-size: 18px;
	line-height: 26px;
	padding-left: 20px;
	margin-bottom: 15px;
}

.back_diff{
    background-color: #F5F5F5;
    padding: 15px;
}