*{
    font-family: 'Noto Sans KR', sans-serif;
    color:#000;
}

.fs-big{
    font-size : 23px;
}

.fs-midium{
    font-size: 18px;
}
.fs-small{
    font-size : 15px;
}

.fs-tiny{
    font-size : 12px;
}

.fc-0066CC{
    color : #0066CC;
}

.fc-1D71B8{
    color:#1D71B8;
}

.fw-bold{
    font-weight: bold;
}

.fw-light{
    font-weight:lighter;
}