.reason{
    position:relative;
    width :100%;
    height:391px;
    background-color: skyblue
}

.reason .reason_box{
    position:absolute;
    right:250px;
    bottom:100px;
}

.reason .reason_text{
    color : #fff;
    background: transparent;
}

.reason .reason_button{
    height:auto;
    width:120px;
    text-align: center;
    padding: 1px 0 4px;
    background-color: #fff;
    border-radius: 5px;
}

.main{
    width: 1180px;
    margin-left: auto;
    margin-right: auto;

}
.section_head{
    margin-bottom: 28.8px;
}

.triangle{
height: 16px;
    margin-right: 5px;
}

.manufacturing{
    margin-top: 86.6px;
    width: 100%;
    height: auto;
    overflow: auto;
    /* height: 200px; */
}

.mf_list{
    margin-top: 20px;
}

.mf_section{
    width: 130px;
    height: 172.3px;
    background-color:#9BCEFA;
    float: left;
    margin-right: 20px;
    border-radius: 8px;
}

.mf_link{
    width: 117.5px;
    height: 155.7px;
}

.mf_img{
    width: 105.2px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.mf_name{
    display: block;
    margin-top: 10px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
}

#mf2{
    background-color: #6CB8F8;
}

#mf3{
    background-color: #239AFF;
}
#mf4{
    background-color: #0084F3;
}

#mf5{
    background-color: #0069C2;
}

#mf6{
    background-color: #064A87;
}

#mf7{
    background-color: #003155;
}

#CMP{
    margin-right: 0px;
    background-color: #091D32;
}

.article_analysis{
    margin-top: 86.6px;
    width: 100%;
    overflow: auto;
    /* height: 370px; */
}

.img_article{
    float: left;
    width: 480px;
    /*  */
}

.article_list{
    float: left;
    width: 680px;
    margin-left: 20px;
}

.img_article_link{
    display: block;
    border: none;
    width: 480px;
    height: 338.8px;
    border-radius: 10px;
    /* background-image: url('Images/main news.jpg'); */
    /* background-color: darkblue; */
}

.news_img{
    width: 480px;
}

.img_article_text{
    color: #fff;
    display: block;
    width: 300px;
    text-align: left;
    margin-top: 190px;
    margin-left: 30px;
    background-color: none;
}

.more{
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}

.article_list_main{
    height: 268px;
    width: 580px;
}

.month_btn{
    display: block;
    float: left;
    border: none;
    margin: -1;
    padding: 0;
    width: 226px;
    height: 80px;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    font-size: large;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.25);
}

.week_btn{
    display: block;
    float: left;
    border: none;
    margin: -1;
    padding: 0;
    width: 226px;
    height: 80px;
    background-color: #fff;
    font-size: large;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.25);
}

.day_btn{
    clear: left;
    border: none;
    margin: -1;
    padding: 0;
    width: 226px;
    height: 80px;
    color: #fff;
    font-size: large;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.25);
    background-color: #0066CC;
}

.article_list_main_section{
    display:block;
    margin-top: 24.9px;
    width: 678px;
    height: 59.3px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
}

.article_text{
    display: block;
    float: left;
    margin-top: 15px;
    margin-left: 40px;
}

.article_date{
    font-size: 15px;
    font-weight: 400px;
    display: block;
    float: right;
    color: #878787;
    margin-top: 18px;
    margin-right: 15px;
}

.site_section{
    position:relative;
    display: flex;
    width:100%;
    margin-top: 86.6px;
    overflow: auto;
    /* margin-bottom:120px; */
}

.lab{
    flex:1;
    width: 580px;
    /* height: 280px; */
    /* margin-top: 40px; */
}

.enterprise{
    flex:1;
    width: 580px;
    /* height: 280px; */
    /* margin-top: 40px; */
    margin-left: 20px;
}

.lab_img{
    float: left;
    width: 152.5px;
    display: block;
    background-color: #00559D;
}

.lab_main{
    float: left;
    width: 427px;
}

.lab_name{
    width: 427px;
    margin-top: 14.4px;
    margin-bottom: 10px;
    text-align: center;

}

.lab_ins{
    display: block;
    width: 240px;
    margin-left: 93.5px;
    text-align: justify;
}

.site_link{
    border: none;
    background-color: #00559D;
    color: #fff;
    width: 70px;
    height: 28px;
    border-radius: 14px;
    float: right;
    margin-top: 20px;
    margin-right: 40px;
}

.qna_section{
    margin-top: 115.5px;
    position: relative;
    background-color: #F1F1F1;
}

.qna_head{
    position:relative;
    padding-left:50%;
    left:-540px;
    bottom: -10px;
}

.qna{
    position: relative;
    width :100%;
    height:400px;
    margin: 0 auto;
    overflow-x : scroll;
}

.qna::-webkit-scrollbar {
    height:20px;
}

.qna::-webkit-scrollbar-thumb {
    border-radius: 100px;
    width:10%;
    background: #ffffff;
}

.qna::-webkit-scrollbar-track {
    background: -webkit-linear-gradient(90deg, #F1F1F1,#F1F1F1,#F1F1F1,#F1F1F1, #F1F1F1, #CDCDCD,#CDCDCD,#CDCDCD, #F1F1F1,#F1F1F1,#F1F1F1,#F1F1F1, #F1F1F1);
    border-radius: 10px;
}

.qna_list{
    position: relative;
    width : 3000px;
    margin : 50px auto;
    padding-left:50%;
    left:-540px;
}

.qna_box{
    width: 280px;
    height: 280px;
    background-color: #ffffff;
    float: left;
    margin: 0 15px;
    border-radius: 19px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.question{
    margin:30px 20px 0 20px;
    padding: 0 10px;
    width:220px;
    height:109px;
    border-bottom:2px solid #1D71B8
}
.question .q_title{

}
.question .q_context{
    width:170px;
    margin: 5px auto 0;
}

.answer{
    margin:20px 20px 0 20px;
    padding: 0 10px;
    width:220px;
    height:110px;
}

.answer .a_title{
    float:left;
    height:95px;
}

.answer .a_context{
    float:left;
    width:190px;
    padding-top:3px;
    margin-left:10px;
    height:95px;
}

.qna_more{
    position:relative;
    width:50px;
    margin-left:50%;
    left:490px;
    top:-50px;
}

