.main{
    width: 1180px;
    /* height: 900px; */
    /* background-color: aqua; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}
.main2{
    width: 100%;
    background-color: #F8F8F8;
    padding-left: auto;
    padding-right: auto;
    margin-top: 75px;
}
.main_header{
    position:relative;
    width :100%;
    height:160px;
    background-color: skyblue
}

.main_header .main_header_box{
    padding:30px 0 0;
    margin:0 auto;
    text-align: center;
    width:300px;
    height:100px;
}

.significance{
    /* margin-top: 30px; */
    margin-bottom: 100px;
}

.sub_head{
    font-size: 20px;
    font-weight: 500;
}
.triangle{

    margin-right: 5px;
}
.div_line{
    width: 1180px;
    border: 0;
    height: 9px;
    border-radius: 5px;
    background-color: #EBEBEB;
    margin-top: 15px;
    /* margin-bottom: 10px; */
    margin-left: auto;
    margin-right: auto;
}

.main_logo{
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 208px;
}

.introduction_head{
    margin-top: 75px;
    text-align: center;
    font-weight: 700;
}

.main_text{
    margin-top: 75px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: justify;
    line-height: 30px;
}

.main_text2{
    margin-top: 37.5px;


    line-height: 30px;
}

.team_section{  
    /* margin-top: 100px; */
    background-color: #F8F8F8;
    height: 1240px;
    margin-bottom: 100px;
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.team_side{
    width: 80px;
    height: 100%;
    float: left;
}

.team_mid{
    float: left;
    width: 1020px;
    padding-bottom: 50px;
}

#team_head{
    display: block;
    text-align: center;
    margin-top: 75px;
    font-size: 23px;
}

.profile{
    width: 250px;

    /* background-color: bisque; */
    padding-top: 37.5px;
}

#leader{
    margin-left: auto;
    margin-right: auto;
}

#normal1{
    margin-left: 150px;
    float: left;
}
#normal2{
    margin-left: 220px;
    float: left;
}

.profile_img{
    width: 109.7px;
    height: 134.7px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 37.5px;
}

.profile_name{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.profile_info{
    margin-top: 18.75px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
}

.next{
    width: 80px;
    background-color: #F8F8F8;
    border: none;
    margin-top: 525px;

    display: block;
}
.arrow{
    width: 57px;
}