.main{
    width: 1180px;
    margin: 0 auto 300px;
}

.main_header{
    width :100%;
    min-width: 1180px;
    height:179px;
    background-color: skyblue
}

.main_header .main_header_box_title{
    padding-top:45px;
    margin:0 auto;
    text-align: center;
    width:167px;
}

.main_header_box_context{
    margin:5px auto 0;
    text-align: center;
    width:280px;
}

.test_section{
    position : relative;
    width : 780px;
    height : auto;
    margin: 156px auto 78px;
}

.img_section{
    position : relative;
    width : 780px;
    height : auto;
    margin: 0 auto;
}

.mf_img{
    width: 150px;
    display: block;
    margin: 30px auto 15px;
}

.mf_list{
    display:flex;
}

.mf_list:last-child{
    margin-top:39px;
}

.mf_list > li{
    width:180px;
    height:240px;
    border-radius: 15px;
}

.mf_list > li:not(:last-child){
    margin-right:20px;
}

.mf_text{
    width: 100px;
    height: 24px;
    background-color: #ffffff;
    border-radius: 100px;
    text-align: center;
    padding-top:4px;
    margin: 0 auto;
}

#mf2{
    background-color: #9BCEFA;
}

#mf3{
    background-color: #6CB8F8;
}

#mf4{
    background-color: #239AFF;
}

#mf5{
    background-color: #0084F3;
}

#mf6{
    background-color: #0069C2;
}

#mf7{
    background-color: #064A87;
}

#mf8{
    background-color: #003155;
}

#mf9{
    background-color: #091D32;
}